
// COLORS

// primary: #eb2f64;
// primary-light: #FF3366
// primary-dark: #BA265D

// grey-light-1: #3FAF9F9;
// gery-light-2: #FAF2F2;
// grey-light-3: #F0eeee;
// grey-light-4: #ccc

// grey-dark-1: #333
// grey-dark-2: #777
// grey-dark-3: #999

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eb2f64;
}
